{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="row">

<p style="font-size:20px">
<b>AGE Atlas allows you to explore tissue- and condition-specific
    correlations between biological age and your gene, gene set, or biological function.</b>
</p>

<p style="font-size:20px">

It works by aggregating public gene expression datasets from NCBI GEO and
annotating these samples with age, tissue, disease state, etc. This allows you
to determine correlations between age and gene expression on a large scale
across many experimental conditions.

</p>

<p style="font-size:20px">

AGE Atlas is currently in pre-publication, alpha status! If you are reading
this, you've (hopefully) been given advance access because you are a
collaborator or interested party on the OUHSC campus. Please keep the results
confidential (i.e., within OUHSC/OMRF) until we have published. Since it is an
active research project, the <i>results are subject to change</i> as we improve
our algorithms and incorporate more datasets.

</p>

<p style="font-size:20px">

<b>Your feedback is greatly desired!</b> We are committed to improving this
tool to make it as widely useful as possible. Please send any comments or
suggestions to <a href="mailto:gilesc@omrf.org">gilesc@omrf.org</a>. In
addition to feature requests or suggestions for interface improvements, we also
want to know if you experience problems from particular browsers or mobile
devices.

</p>

<hr />

<h3>Recent changes</h3>
<ul>
    <li>XX/XX/XX - initial alpha release</li>
</ul>
</div>

{% endblock %}
