{% extends "base.html" %}

{% block body %}
<form role="form" method="post">
    <div class="form-group">
        <label for="contig">Chromosome</label>
        <input id="contig" name="contig" type="text" value="chr1">
    </div>
    <div class="form-group">
        <label for="start">Start Coordinate</label>
        <input id="start" name="start" type="text" value="1">
    </div>
    <div class="form-group">
        <label for="end">End Coordinate</label>
        <input id="end" name="end" type="text" value="100000">
    </div>
    <hr />
    <div class="form.group">
        <label for="gene">Entrez Gene ID</label>
        <input id="gene_id" name="gene_id" type="text">
    </div>
    <hr />

    <button class="btn btn-default" type="submit" 
        formmethod="post" formaction="/region">Submit</button>
</form>
{% endblock %}
