# Required
gzip	Compression utility
parallel	GNU parallel
lz4	LZ4 compression utility
pixz	Parallel XZ/LZMA compression utility
xml	XML Starlet

# Optional
datamash	Data manipulation utility
pigz	Parallel GZip compression
tcbmgr	Tokyo Cabinet

#lockfile	POSIX file locking
