###################
# Base dependencies
###################

# Basic numerics packages
numpy
scipy
cython
matplotlib
pytz
numexpr
bottleneck
pandas

# Statistics
patsy
git+https://github.com/statsmodels/statsmodels.git
git+https://github.com/scikit-learn/scikit-learn.git

# Other analysis packages
networkx

# Data management
h5py
python3-memcached
git+https://github.com/zzzeek/sqlalchemy.git
psycopg2

# Utilities
cement
sortedcontainers
pyparsing

#################
# UI dependencies
#################

bottle

#########################
# Bioinformatics packages
#########################
