# Basic numerics packages
numpy
scipy
cython
matplotlib
matplotlib-venn
pytz
numexpr
pandas

# Statistics
patsy
statsmodels
scikit-learn

# Other analysis packages
networkx
nltk

# Data management
redis

# Utilities
cement
sortedcontainers
pyparsing
click
lz4
setproctitle

# YAML parsing (from Python and shell)
pyyaml
shyaml

# Documentation
docutils
sphinx

# Experimental
dataset
