###################
# Base dependencies
###################

# Basic numerics packages
numpy
scipy
cython
matplotlib
pytz
numexpr
bottleneck
pandas

# Statistics
patsy
statsmodels
scikit-learn

# Other analysis packages
networkx

# Data management
h5py
python3-memcached
sqlalchemy
psycopg2

# Utilities
cement
sortedcontainers
pyparsing

#################
# UI dependencies
#################

bottle

#########################
# Bioinformatics packages
#########################

###################
# Personal packages
###################

centrum
