<html>
<head>

</script>
    {{ js("jquery/dist/jquery.min") }}
    {{ js("bootstrap/dist/js/bootstrap.min") }}
    {{ js("datatables/media/js/jquery.dataTables.min") }}
    {{ js("datatables-tabletools/media/js/dataTables.tableTools") }}
    {{ js("d3/d3.min") }}
    {{ js("nvd3/nv.d3.min") }}

    {{ js("BioTK/BioTK.table") }}
    {{ js("BioTK/BioTK") }}

    {{ css("bootstrap/dist/css/bootstrap.min") }}
    {{ css("datatables-tabletools/css/dataTables.tableTools") }}
    {{ css("BioTK/dataTables.bootstrap") }}
    {{ css("nvd3/src/nv.d3") }}
    {{ css("BioTK/BioTK") }}

    <title>AGE Atlas {% if title is defined %}- {{title}}{% endif %}</title>

    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AGE Atlas</a>
    </div>

    <!-- NOTE: add class="active" to a li to darken it and mark as active tab -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Query<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/query/tissue">Tissue</a></li>
          </ul>
        </li>
        <li><a href="/tutorial">Tutorial</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/statistics">Database statistics</a></li>
            <li><a href="/changelog">Changelog</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" method="post" action="/search" role="search">
        <div class="form-group">
          <input id="quick-search" name="query" type="text" class="form-control" placeholder="Gene symbol, Entrez ID">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
    {% if title is defined %}
        <h3>{{title}}</h3>
    {% endif %}

    {% block body %}

    {% for e in elements %}
        {{ e.render() }}
    {% endfor %}

    {{ content }}

    {% endblock %}
</div>
</body>
</html>
