{% extends "base.html" %}

{% block head %}

<style>
svg text {font-size: 1.2em;}
</style>

<script type="text/javascript" language="javascript">
var expressionData = {{expression}};
var tissueData = [{"key": "foobar", "values": 
    {{tissue_json}} 
}];
var ageUnits = "{{age_units}}";
</script>

{% endblock %}

{% block body %}

<div class="row">
    <h4><b>Expression vs Age<b></h4>
    <div id="chart" class="span12">
        <svg style="height:500px"></svg>
    </div>
    <h4><b>Age-expression correlation by tissue</b></h4>
    <div id="tissue-age-expression-correlation" class="span12">
        <svg style="height:300px"></svg>
    </div>
    <h4><b>Mean expression by tissue</b></h4>
    <div id="tissue-mean-expression" class="span12">
        <svg style="height:300px"></svg>
    </div>
</div>
{% endblock %}
