{% load static %}

<script src='{% static 'jquery/dist/jquery.min.js' %}'></script>
<script src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
<script src='{% static 'datatables/media/js/jquery.dataTables.min.js' %}'></script>
<script src='{% static 'datatables/examples/resources/bootstrap/3/dataTables.bootstrap.js' %}'></script>
<script src='{% static 'datatables-tabletools/js/dataTables.tableTools.js' %}'></script>
<script src='{% static 'd3/d3.min.js' %}'></script>
<script src='{% static 'nvd3/nv.d3.min.js' %}'></script>

<link rel="stylesheet" type="text/css" 
    href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" 
    href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" 
    href="{% static 'datatables-tabletools/css/dataTables.tableTools.css' %}">
<link rel="stylesheet" type="text/css" 
    href="{% static 'datatables/examples/resources/bootstrap/3/dataTables.bootstrap.css' %}">
<link rel="stylesheet" type="text/css" 
    href="{% static 'nvd3/src/nv.d3.css' %}">

<script src="{% static 'age_atlas/js/age-atlas.js' %}"></script>
<script src="{% static 'age_atlas/js/age-atlas.plot.js' %}"></script>
<script src="{% static 'age_atlas/js/age-atlas.table.js' %}"></script>
<link rel="stylesheet" type="text/css" 
    href="{% static 'age_atlas/css/age-atlas.css' %}">
