<html>
<head>

    <title>{{app.cfg["name"]}}</title>

</script>
    {{ js("jquery/dist/jquery.min") }}
    {{ js("bootstrap/dist/js/bootstrap.min") }}
    {{ js("datatables/media/js/jquery.dataTables.min") }}
    {{ js("datatables-tabletools/media/js/dataTables.tableTools") }}
    {{ js("d3/d3.min") }}
    {{ js("nvd3/nv.d3.min") }}

    {{ js("BioTK/BioTK.table") }}
    {{ js("BioTK/BioTK") }}

    {{ css("bootstrap/dist/css/bootstrap.min") }}
    {{ css("datatables-tabletools/css/dataTables.tableTools") }}
    {{ css("BioTK/dataTables.bootstrap") }}
    {{ css("nvd3/src/nv.d3") }}

    {% block head %}
    {% endblock %}
</head>
<body>

{% include "menu.html" %}

{% for e in elements %}
    {{ e.render() }}
{% endfor %}

</body>
</html>
